<h4>Tabel Pemantau Kondisi Air</h4>
<i class="bi bi-funnel-fill" data-bs-toggle="popover" data-bs-content-id="popover-content" title="Click again to dismiss"></i>
<div style="overflow-x: auto; margin-top: -15px; scrollbar-color: var(--main-color)">
  <table class="styled-table">
    <thead>
      <tr>
        <th>NO</th>
        <th>Tanggal</th>
        <th>Waktu</th>
        <th><span data-bs-toggle="tooltip" data-bs-placement="top" title="Tota Dissolved Solid">TDS</span></th>
        <th><span data-bs-toggle="tooltip" data-bs-placement="top" title="Status kualitas air, merah : buruk | hijau : aman">Status</span></th>
      </tr>
    </thead>
    <tbody>
      <% if (datas.length === 0) { %>
      <tr>
        <td colspan="5">
          <div class="alert alert-danger fw-bold text-center" role="alert">Data <%= typeof option !== 'undefined' ? "tidak ditemukan" : "masih kosong" %>.</div>
        </td>
      </tr>
      <% } %> <% datas.forEach((data,i) => { %>
      <tr>
        <th><%= i + 1 %></th>
        <td><%= data.createdAt.toLocaleDateString() %></td>
        <td><%= data.createdAt.toLocaleTimeString() %></td>
        <td><%=data.tds%> ppm</td>
        <td>
          <img src="img/<% if (data.tds > 500) { %>danger.png
        <% } else { %>safe.png<% } %>" alt="status" />
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <% if (datas.length !== 0) { %> <% if (pages > 0) { %>
  <ul class="pagination">
    <% if (current == 1) { %>
    <li class="item no-click"><a class="link">First</a></li>
    <% } else { %>
    <li><a class="link" href="/<%= typeof option !== 'undefined' ? option : null %>?page=1">First</a></li>
    <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i !== 1) { %>
    <li class="item no-click"><a>...</a></li>
    <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i == current) { %>
    <li class="item current"><a class="link"><%= i %></a></li>
    <% } else { %>
    <li><a class="link" href="/<%= typeof option !== 'undefined' ? option : null %>?page=<%= i %>"><%= i %></a></li>
    <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
    <li class="item no-click"><a>...</a></li>
    <% } %> <% } %> <% if (current == pages) { %>
    <li class="item no-click"><a class="link">Last</a></li>
    <% } else { %>
    <li><a class="link" href="/<%= typeof option !== 'undefined' ? option : null %>?page=<%= pages %>">Last</a></li>
    <% } %>
  </ul>
  <% } %> <% } %>
</nav>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form method="POST" action="/datebetween">
      <div class="mb-3">
        <label for="dateOne" class="form-label">Sesudah Tanggal :</label>
        <input type="datetime-local" class="form-control" id="dateOne" name="dateOne" required />
      </div>
      <div class="mb-3">
        <label for="dateTwo" class="form-label">Sebelum Tanggal :</label>
        <input type="datetime-local" class="form-control" id="dateTwo" name="dateTwo" required />
      </div>
      <button type="submit" class="btn">Filter</button>
    </form>
  </div>
</div>
<!-- popover -->
<div id="popover-content" class="d-none">
  <a <% if (typeof option !== 'undefined' && option == "tdsdown") { %> id="popover-active" <% } %> href="/tdsdown">TDS : highest to lowest</a>
  <a <% if (typeof option !== 'undefined' && option == "tdsup") { %> id="popover-active" <% } %>href="/tdsup">TDS : lowest to highest</a>
  <a <% if (typeof option !== 'undefined' && option == "redonly") { %> id="popover-active" <% } %>href="/redonly">Status : red only</a>
  <a <% if (typeof option !== 'undefined' && option == "greenonly") { %> id="popover-active" <% } %>href="/greenonly">Status : green only</a>
  <a <% if (typeof option !== 'undefined' && option == "datebetween") { %> id="popover-active" <% } %>href="#" class="myBtn">Date between</a>
  <a href="/">Clear parameter</a>
</div>